In [9]:
import tweepy
import pandas as pd
import json
import datetime as dt
import os
import sys
import time

In [10]:
consumer_key = 'KwsM7g4X8QPXdGtAXpGf9zIVD'
consumer_secret = 'mW6Ru1IxyyXGxIaFKL7YfWJC1dZWbHYWTA7bIdpMGqVL4hIBZd'
access_token = '1055276480635265024-3HGLjEGA9wewgSuT9Pskio0Rhmr1H2'
access_token_secret = '0e2lJBV2EHnMeOGm0QjE7X6SrX87ouDozANbdw8lDsRGo'

In [11]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

In [4]:
## heavily borrowed from 
# https://github.com/agalea91/twitter_search/blob/master/twitter_search.py

In [12]:
time_limit = 1.5                           # runtime limit in hours
max_tweets = 100                           # number of tweets per search (will be
                                           # iterated over) - maximum is 100
max_days_old = 8                           # search limits e.g., from 7 to 8
                                           # gives current weekday from last week,
                                           # min_days_old=0 will search from right now
USA = '39.8,-95.583068847656,2500km'       # this geocode includes nearly all American
                                           # states (and a large portion of Canada)
query_list = ["juul","#Juul","juuling","#switchtojuul"]
#query_list = ['juuling','juul','#e-cigarettes', '#vape'] #'#switchtojuul','#juul', 
#read_IDs = False # initialize - first round of tweets added to json

In [13]:
def tweet_search(api, query, max_tweets, max_id, since_id, geocode):
    searched_tweets = []
    while len(searched_tweets) < max_tweets:
        remaining_tweets = max_tweets - len(searched_tweets)
        try:
            new_tweets = api.search(q = query, count = remaining_tweets,\
                               since_id = str(since_id), max_id = str(max_id-1),\
                                   geocode = geocode)
            if not new_tweets: # does new_tweets have a value
                print('no tweets found')
                break
            searched_tweets.extend(new_tweets) # adds new tweets
            max_id = new_tweets[-1].id
        except tweepy.TweepError:
            print('waiting 15 minutes due to time limit')
            print(dt.datetime.now()+dt.timedelta(minutes=15))
            time.sleep(15*60)
            break       
    return searched_tweets, max_id

In [14]:
def scrape_tweets(query, day, max_id, since_id, time_limit, max_tweets, USA):
    json_file = query.replace('#','hshtg_') + '_' + day + '.json'
    print(json_file) 

    api = tweepy.API(auth)

    start = dt.datetime.now()
    end = start + dt.timedelta(hours=time_limit)
    count, exitcount = 0, 0
    while dt.datetime.now() < end:
        count += 1
        print('count =',count)
        # collect tweets and update max_id
        tweets, max_id = tweet_search(api=api, query=query, max_tweets=max_tweets,
                                      max_id=max_id, since_id=since_id,
                                      geocode=USA)
        # write tweets to file in JSON format
        if tweets:
            with open(json_file, 'a') as f:
                for tweet in tweets:
                    json.dump(tweet._json, f)
                    f.write('\n')
            exitcount = 0
        else:
            exitcount += 1
            if exitcount == 3:
                print('Maximum number of empty tweet strings reached - breaking')
                break
    return json_file

In [15]:
for q in query_list:
    api = tweepy.API(auth)
    
    d1 = dt.datetime.now() - dt.timedelta(days=max_days_old)
    print('start date:','\n',d1)
    tweet_date_1 = '{0}-{1:0>2}-{2:0>2}'.format(d1.year, d1.month, d1.day)
    # get list of up to 10 tweets
    tweet_1 = api.search(q=q, count=1, until=tweet_date_1, geocode=USA)
    since_id = tweet_1[0].id
    print('start ID:','\n',since_id)

    d2 = dt.datetime.now() # if someone didnt tweet
    print('end date:','\n',d2)
    tweet_date_2 = '{0}-{1:0>2}-{2:0>2}'.format(d2.year, d2.month, d2.day)
    # get list of up to 10 tweets
    tweet_2 = api.search(q=q, count=10, until=tweet_date_2, geocode=USA)
    max_id = tweet_2[0].id
    print('end ID:','\n',max_id)

    day = '{0}-{1:0>2}-{2:0>2}_to_{3}-{4:0>2}-{5:0>2}'.format(
           d1.year, d1.month, d1.day, d2.year, d2.month, d2.day)
    print(day)
    
    json_file = scrape_tweets(query=q, day=day,max_id=max_id, since_id=since_id,time_limit=1.5, max_tweets=max_tweets, USA=USA)
    print('finished with query:',q)
    print('file:',json_file)

start date:
 2018-11-18 18:12:02.727969
start ID:
 1063944536165101568
end date:
 2018-11-26 18:12:04.384909
end ID:
 1066843795352940544
2018-11-18_to_2018-11-26
juul_2018-11-18_to_2018-11-26.json
count = 1
count = 2
count = 3
count = 4
count = 5
count = 6
count = 7
count = 8
count = 9
count = 10
count = 11
count = 12
count = 13
count = 14
count = 15
count = 16
count = 17
count = 18
count = 19
count = 20
count = 21
count = 22
count = 23
no tweets found
count = 24
count = 25
count = 26
count = 27
count = 28
count = 29
count = 30
count = 31
count = 32
count = 33
count = 34
count = 35
count = 36
count = 37
count = 38
count = 39
count = 40
count = 41
count = 42
count = 43
count = 44
count = 45
count = 46
count = 47
count = 48
count = 49
count = 50
count = 51
count = 52
count = 53
count = 54
count = 55
count = 56
count = 57
count = 58
count = 59
count = 60
count = 61
count = 62
count = 63
count = 64
count = 65
count = 66
count = 67
count = 68
count = 69
count = 70
count = 71
count = 72
count = 73
no tweets found
count = 74
count = 75
count = 76
count = 77
no tweets found
count = 78
count = 79
count = 80
count = 81
no tweets found
count = 82
count = 83
count = 84
count = 85
count = 86
count = 87
count = 88
count = 89
count = 90
no tweets found
count = 91
count = 92
count = 93
count = 94
count = 95
count = 96
count = 97
count = 98
count = 99
count = 100
count = 101
count = 102
count = 103
count = 104
count = 105
count = 106
count = 107
count = 108
count = 109
count = 110
count = 111
count = 112
count = 113
count = 114
count = 115
count = 116
count = 117
count = 118
count = 119
no tweets found
count = 120
no tweets found
count = 121
count = 122
count = 123
count = 124
count = 125
count = 126
count = 127
count = 128
count = 129
waiting 15 minutes due to time limit
2018-11-26 18:29:33.034061
count = 130
count = 131
count = 132
count = 133
count = 134
count = 135
count = 136
count = 137
count = 138
count = 139
count = 140
count = 141
count = 142
count = 143
count = 144
count = 145
count = 146
count = 147
count = 148
count = 149
count = 150
count = 151
count = 152
count = 153
count = 154
count = 155
count = 156
count = 157
count = 158
count = 159
count = 160
count = 161
count = 162
count = 163
count = 164
count = 165
count = 166
count = 167
count = 168
count = 169
count = 170
count = 171
count = 172
count = 173
count = 174
count = 175
count = 176
count = 177
count = 178
count = 179
count = 180
count = 181
count = 182
count = 183
count = 184
count = 185
count = 186
count = 187
count = 188
count = 189
count = 190
count = 191
count = 192
count = 193
count = 194
count = 195
count = 196
count = 197
count = 198
count = 199
count = 200
count = 201
count = 202
count = 203
count = 204
count = 205
count = 206
count = 207
count = 208
count = 209
count = 210
count = 211
count = 212
count = 213
count = 214
count = 215
count = 216
count = 217
count = 218
count = 219
count = 220
count = 221
count = 222
count = 223
count = 224
count = 225
count = 226
count = 227
count = 228
count = 229
count = 230
count = 231
count = 232
count = 233
count = 234
count = 235
count = 236
count = 237
count = 238
count = 239
count = 240
count = 241
count = 242
count = 243
count = 244
count = 245
count = 246
count = 247
count = 248
count = 249
count = 250
count = 251
count = 252
count = 253
count = 254
count = 255
count = 256
count = 257
count = 258
count = 259
count = 260
count = 261
count = 262
count = 263
count = 264
count = 265
count = 266
count = 267
count = 268
count = 269
count = 270
count = 271
count = 272
count = 273
count = 274
count = 275
count = 276
count = 277
count = 278
count = 279
count = 280
count = 281
count = 282
count = 283
count = 284
count = 285
count = 286
count = 287
count = 288
count = 289
count = 290
count = 291
count = 292
count = 293
count = 294
count = 295
count = 296
count = 297
count = 298
count = 299
count = 300
count = 301
count = 302
count = 303
count = 304
waiting 15 minutes due to time limit
2018-11-26 18:47:21.724328
count = 305
count = 306
count = 307
count = 308
count = 309
count = 310
count = 311
count = 312
count = 313
count = 314
count = 315
count = 316
count = 317
count = 318
count = 319
count = 320
count = 321
count = 322
count = 323
count = 324
count = 325
count = 326
count = 327
count = 328
count = 329
count = 330
count = 331
count = 332
count = 333
count = 334
count = 335
count = 336
count = 337
count = 338
count = 339
count = 340
count = 341
count = 342
count = 343
count = 344
count = 345
count = 346
count = 347
count = 348
count = 349
count = 350
count = 351
count = 352
count = 353
count = 354
count = 355
count = 356
count = 357
count = 358
count = 359
count = 360
count = 361
count = 362
count = 363
count = 364
count = 365
count = 366
count = 367
count = 368
count = 369
count = 370
count = 371
count = 372
count = 373
count = 374
count = 375
count = 376
count = 377
count = 378
count = 379
count = 380
count = 381
count = 382
count = 383
count = 384
count = 385
count = 386
count = 387
count = 388
count = 389
count = 390
count = 391
count = 392
count = 393
count = 394
count = 395
count = 396
count = 397
count = 398
count = 399
count = 400
count = 401
count = 402
count = 403
count = 404
count = 405
count = 406
count = 407
count = 408
count = 409
count = 410
count = 411
count = 412
count = 413
count = 414
count = 415
count = 416
count = 417
count = 418
count = 419
count = 420
count = 421
count = 422
count = 423
count = 424
count = 425
count = 426
count = 427
count = 428
count = 429
count = 430
count = 431
count = 432
count = 433
count = 434
count = 435
count = 436
count = 437
count = 438
count = 439
count = 440
count = 441
count = 442
count = 443
count = 444
count = 445
count = 446
count = 447
count = 448
count = 449
count = 450
count = 451
count = 452
count = 453
count = 454
count = 455
count = 456
count = 457
count = 458
count = 459
count = 460
count = 461
count = 462
count = 463
count = 464
count = 465
count = 466
count = 467
count = 468
count = 469
count = 470
count = 471
count = 472
count = 473
count = 474
count = 475
count = 476
count = 477
count = 478
count = 479
count = 480
count = 481
count = 482
count = 483
count = 484
count = 485
waiting 15 minutes due to time limit
2018-11-26 19:05:12.836858
count = 486
count = 487
count = 488
count = 489
count = 490
count = 491
count = 492
count = 493
count = 494
count = 495
count = 496
count = 497
count = 498
count = 499
count = 500
count = 501
count = 502
count = 503
count = 504
count = 505
count = 506
count = 507
count = 508
count = 509
count = 510
count = 511
count = 512
count = 513
count = 514
count = 515
count = 516
count = 517
count = 518
count = 519
count = 520
count = 521
count = 522
count = 523
count = 524
count = 525
count = 526
count = 527
count = 528
count = 529
count = 530
count = 531
count = 532
count = 533
count = 534
no tweets found
count = 535
no tweets found
count = 536
no tweets found
count = 537
no tweets found
Maximum number of empty tweet strings reached - breaking
finished with query: juul
file: juul_2018-11-18_to_2018-11-26.json
start date:
 2018-11-18 19:06:04.029580
start ID:
 1063937983831670784
end date:
 2018-11-26 19:06:04.331589
end ID:
 1066813574155247619
2018-11-18_to_2018-11-26
hshtg_Juul_2018-11-18_to_2018-11-26.json
count = 1
count = 2
no tweets found
count = 3
no tweets found
count = 4
no tweets found
count = 5
no tweets found
Maximum number of empty tweet strings reached - breaking
finished with query: #Juul
file: hshtg_Juul_2018-11-18_to_2018-11-26.json
start date:
 2018-11-18 19:06:08.054227
start ID:
 1063943376687546368
end date:
 2018-11-26 19:06:08.335690
end ID:
 1066843686745645057
2018-11-18_to_2018-11-26
juuling_2018-11-18_to_2018-11-26.json
count = 1
count = 2
count = 3
count = 4
count = 5
count = 6
count = 7
count = 8
count = 9
no tweets found
count = 10
no tweets found
count = 11
no tweets found
count = 12
no tweets found
count = 13
no tweets found
Maximum number of empty tweet strings reached - breaking
finished with query: juuling
file: juuling_2018-11-18_to_2018-11-26.json
start date:
 2018-11-18 19:06:19.435165

IndexError: list index out of range

In [38]:
# json_file = 'juul_2018-10-20_to_2018-10-28.json'
# tweet_data = []
# with open(json_file, 'r') as f:
#     for line in f.readlines():
#         tweet_data.append(json.loads(line))

In [39]:
# df = pd.DataFrame()

# #general info
# df['id'] = list(map(lambda tweet: tweet['id_str'], tweet_data))
# df['tweet_date'] = list(map(lambda tweet: tweet['created_at'], tweet_data))
# df['text'] = list(map(lambda tweet: tweet['text'], tweet_data))
# df['lang'] = list(map(lambda tweet: tweet['lang'], tweet_data))
# # user information
# df['location'] = list(map(lambda tweet: tweet['user']['location'], tweet_data))
# df['protected'] = list(map(lambda tweet: tweet['user']['protected'], tweet_data))
# df['profile_description'] = list(map(lambda tweet: tweet['user']['description'], tweet_data))
# df['followers_count'] = list(map(lambda tweet: tweet['user']['followers_count'], tweet_data))
# df['friends_count'] = list(map(lambda tweet: tweet['user']['friends_count'], tweet_data))
# df['listed_count'] = list(map(lambda tweet: tweet['user']['listed_count'], tweet_data))
# df['favourites_count'] = list(map(lambda tweet: tweet['user']['favourites_count'], tweet_data))
# df['geo_enabled'] = list(map(lambda tweet: tweet['user']['geo_enabled'], tweet_data))
# df['verified'] = list(map(lambda tweet: tweet['user']['verified'], tweet_data))
# df['statuses_count'] = list(map(lambda tweet: tweet['user']['statuses_count'], tweet_data))
# # tweet info
# df['retweet_count'] = list(map(lambda tweet: tweet['retweet_count'], tweet_data))
# df['favorite_count'] = list(map(lambda tweet: tweet['favorite_count'], tweet_data))
# df['favorited'] = list(map(lambda tweet: tweet['favorited'], tweet_data))
# df['retweeted'] = list(map(lambda tweet: tweet['retweeted'], tweet_data))
# # tweet location
# df['longitude'] = list(map(lambda tweet: tweet['coordinates']['coordinates'][0] 
#                                   if tweet['coordinates'] != None else 'NaN', tweet_data))
# df['latitude'] = list(map(lambda tweet: tweet['coordinates']['coordinates'][1] 
#                                   if tweet['coordinates'] != None else 'NaN', tweet_data))

In [41]:
#df.head()

,id,tweet_date,text,lang,location,protected,profile_description,followers_count,friends_count,listed_count,favourites_count,geo_enabled,verified,statuses_count,retweet_count,favorite_count,favorited,retweeted,longitude,latitude
0,1056334344787292160,Sat Oct 27 23:58:28 +0000 2018,RT @Sadieisonfire: do u enjoy the crack of a w...,en,66.6 FM,False,emo • your fav bio exorcist • Joseph 💜💜 • G59 ...,464,421,2,3124,True,False,23049,670,0,False,False,NaN,NaN
1,1056334344128733185,Sat Oct 27 23:58:28 +0000 2018,Can’t rlly think of anything more tragic than ...,en,"New York, NY",False,A place for my thots bcuz my friends are sick ...,5,10,0,118,False,False,314,0,0,False,False,NaN,NaN
2,1056334201572605952,Sat Oct 27 23:57:54 +0000 2018,RT @ItsJohnConner: @nytimes They lost to Juul ...,en,"Calgary, Alberta",False,vaper 4yrs +/non-smoker/just a mom/volunteer 4...,358,287,5,17364,False,False,12763,4,0,False,False,NaN,NaN
3,1056334169419251712,Sat Oct 27 23:57:46 +0000 2018,RT @Sadieisonfire: do u enjoy the crack of a w...,en,"st. augustine, fl",False,beyond happy,458,441,2,13460,False,False,3776,670,0,False,False,NaN,NaN
4,1056334111772684290,Sat Oct 27 23:57:32 +0000 2018,Rip to my 9th juul onto my 10th #ripbankaccoun...,en,"Chicago, IL",False,straight chillin,328,189,3,9240,True,False,8353,0,3,False,False,NaN,NaN